<app-barra-navegacion></app-barra-navegacion>
<div class="container-fluid contenedor-galeria">
    <div class="row fila-galeria">

        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-galeria-fotos">

            <div class="galeria-fotos">
                <div class="galeria-fotos-cards">
                    <div id="card-uno-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-uno"></div>
                        <div class="card-descripcion">
                            <p>Impresión con filamento</p>
                        </div>
                    </div>
                    <div id="card-dos-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-dos"></div>
                        <div class="card-descripcion">DOS</div>
                    </div>
                    <div id="card-tres-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-tres"></div>
                        <div class="card-descripcion">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-cuatro"></div>
                        <div class="card-descripcion">CUATRO</div>
                    </div>
                </div>

                <div class="galeria-fotos-cards-dos">
                    <div id="card-uno-galeria" class="foto-fila-card">
                        <div class="card-foto"></div>
                        <div class="card-descripcion">UNO</div>
                    </div>
                    <div id="card-dos-galeria" class="foto-fila-card">
                        <div class="card-foto"></div>
                        <div class="card-descripcion">DOS</div>
                    </div>
                    <div id="card-tres-galeria" class="foto-fila-card">
                        <div class="card-foto"></div>
                        <div class="card-descripcion">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria" class="foto-fila-card">
                        <div class="card-foto"></div>
                        <div class="card-descripcion">CUATRO</div>
                    </div>
                </div>

                <div class="galeria-fotos-cards-tres">
                    <div id="card-uno-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-uno"></div>
                        <div class="card-descripcion">UNO</div>
                    </div>
                    <div id="card-dos-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-dos"></div>
                        <div class="card-descripcion">DOS</div>
                    </div>
                    <div id="card-tres-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-tres"></div>
                        <div class="card-descripcion">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria" class="foto-fila-card">
                        <div class="card-foto card-foto-cuatro"></div>
                        <div class="card-descripcion">CUATRO</div>
                    </div>
                </div>
               
            </div>           
            
        </div>

        <!--COLUMNA CON CARDS INFERIOR-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-galeria-fotos-inferior">

            <div class="galeria-fotos-inferior">
                <div class="galeria-fotos-cards-inferior">
                    <div id="card-uno-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">UNO</div>
                    </div>
                    <div id="card-dos-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">DOS</div>
                    </div>
                    <div id="card-tres-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">CUATRO</div>
                    </div>
                </div>

                <div class="galeria-fotos-cards-dos-inferior">
                    <div id="card-uno-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">UNO</div>
                    </div>
                    <div id="card-dos-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">DOS</div>
                    </div>
                    <div id="card-tres-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">CUATRO</div>
                    </div>
                </div>

                <div class="galeria-fotos-cards-tres-inferior">
                    <div id="card-uno-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">UNO</div>
                    </div>
                    <div id="card-dos-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">DOS</div>
                    </div>
                    <div id="card-tres-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">TRES</div>
                    </div>
                    <div id="card-cuatro-galeria-inferior" class="foto-fila-card-inferior">
                        <div class="card-foto-inferior"></div>
                        <div class="card-descripcion-inferior">CUATRO</div>
                    </div>
                </div>
               
            </div>           
            
        </div>
        <!--COLUMNA CON CARDS INFERIOR-->

    </div>
</div>
<app-footer></app-footer>