<app-barra-navegacion></app-barra-navegacion>

<div class="containder-fluid contenedor-sobre-nosotros">
    <div class="row fila-sobre-nosotros">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-sobre-nosotros-quienes-somos">
            <div class="columna-quienes-somos-titulo">
                <div class="quienes-somos-titulo-caja">
                    <h2>¿Quiénes</h2>
                    <h2>somos?</h2>
                </div>
            </div>
            <div class="columna-quienes-somos-texto">
                <div class="quienes-somos-texto-caja">
                    <p>
                        Creative3d, somos una empresa joven ubicada en la Ciudad de México, enfocada a convertir tus ideas en realidad mediante la tecnología de impresión 3D.    
                    </p>
                    <br>
                    <p>
                        Ofrecemos servicios especializados de impresión con resina y filamento, diseño personalizado, escaneo 3D y postprocesado, brindando soluciones creativas y de alta calidad para proyectos personales, comerciales e industriales.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-sobre-nosotros-mision-vision">
            <div class="columna-sobre-nosotros-mision"> 
                <div class="mision-imagen">
                    <div class="mision-imagen-contenido"></div>
                </div>               
                <div class="mision-texto">
                    <div class="mision-texto-contenido">
                        <p>Nuestra misión es hacer realidad las ideas más creativas y personales por medio de la impresión 3D, ofreciendo soluciones innovadoras, de calidad y sustentables que superen las expectativas de nuestros clientes. Nuestro objetivo es transformar conceptos en realidades materiales que mejoren el entorno”.
                        </p>
                    </div>
                </div>                
                <div class="mision-titulo">
                    <div class="mision-titulo-contenido">
                        <h3>Misión</h3>
                    </div>
                </div>
            </div>
            <div class="columna-sobre-nosotros-vision">
                <div class="vision-titulo">
                    <div class="vision-titulo-contenido">
                        <h3>Visión</h3>
                    </div>
                </div>
                <div class="vision-texto">
                    <div class="vision-texto-contenido">
                        <p>“Ser la empresa líder en el área metropolitana en impresión 3D, siendo reconocida por la capacidad de materializar los sueños de nuestros clientes, ofreciendo productos únicos, personalizados e innovadores. Buscamos ser un referente en la industria mediante el uso de tecnología avanzada, con un enfoque centrado en la creatividad, la sostenibilidad, la calidad y un servicio de excelencia”.
                        </p>
                    </div>
                </div>
                <div class="vision-imagen">
                    <div class="vision-imagen-contenido"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
