<app-barra-navegacion></app-barra-navegacion>

<div class="container-fluid contenedor-tienda-online">
    <div class="row fila-tienda-online">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-tienda-online">
            <div class="tienda-online-titulo">
                <h2>Impresoras</h2>
            </div>
            <div class="fila-tienda-online-cards">
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                <div class="tienda-online-cards">
                    <div class="tienda-online-card">
                        <div class="tienda-online-card-imagen"></div>
                        <div class="tienda-online-card-titulo"></div>
                        <div class="tienda-online-card-precio"></div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
