<app-barra-navegacion></app-barra-navegacion>

<div class="container-fluid contenedor-nuestros-servicios">
    <div class="row fila-nuestros-servicios">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-nuestros-servicios">
            <div class="nuestros-servicios-caja-uno">
                <div class="caja-uno-texto">
                    <p><a [routerLink]="impresionFilamentoLink" fragment="fragmento1">Impresión con filamento</a></p>  
                </div>                
            </div>
            <div class="nuestros-servicios-caja-dos">
                <div class="caja-dos-texto">
                    <p><a [routerLink]="impresionResinaLink" fragment="fragmento2">Impresión con resina</a></p>   
                </div>  
            </div>
            <div class="nuestros-servicios-caja-tres">
                <div class="caja-tres-texto">
                    <p><a [routerLink]="escaneoLink" fragment="fragmento3">Escaneo 3D</a></p>  
                </div>  
            </div>
            <div class="nuestros-servicios-caja-cuatro">
                <div class="caja-cuatro-texto">
                    <p><a [routerLink]="postprocesadoLink" fragment="fragmento4">Postprocesado</a></p>  
                </div>  
            </div>
            <div class="nuestros-servicios-caja-cinco">
                <div class="caja-cinco-texto">
                    <p><a [routerLink]="disenioLink" fragment="fragmento5">Diseño 3d</a></p>  
                </div>  
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>