* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-nuestros-servicios {

    .fila-nuestros-servicios {

        position: relative;
        box-shadow: inset 100px 100px 150px 150px rgba(255, 255, 255, 0.7),
            inset -100px -100px 150px 100px rgba(255, 255, 255, 0.7);


        &::after {
            content: '';
            width: 90%;
            height: 90%;
            position: absolute;
            top: 5%;
            bottom: 5%;
            left: 5%;
            right: 5%;
            box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 1),
                -2px -2px 20px 10px rgba(0, 0, 0, 1);
            z-index: -1;

        }


        //COLUMNA CINCO SERVICIOS
        .columna-nuestros-servicios {
            height: 83vh;
            position: relative;
            border: 1px solid rgb(30, 255, 0);


            .nuestros-servicios-caja-uno {
                width: 45%;
                height: 45%;
                position: absolute;
                top: 5%;
                left: 5%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 95, 155,0.5);
                box-shadow: inset 0 0 0 7px rgba(0, 95, 155,0.3);

                &:hover {
                    background-image: linear-gradient(-45deg, rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1));
                    z-index: 0;
                }

                .caja-uno-texto {
                    width: 50%;
                    height: 100%;
                    margin-left: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: rgb(0, 95, 155);
                            -webkit-text-stroke: 0.2px rgba(255, 255, 255, 1);
                            text-stroke: 0.2px rgba(255, 255, 255, 1);
                            font-size: 62px;
                            text-shadow: 2px 2px 2px rgba(75, 75, 75, 1);
                            font-weight: bold;
                            text-align: center;
                        }

                    }

                }

            }


            .nuestros-servicios-caja-dos {
                width: 45%;
                height: 45%;
                position: absolute;
                top: 5%;
                left: 50%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 95, 155,0.5);
                box-shadow: inset 0 0 0 7px rgba(0, 95, 155,0.3);

                &:hover {
                    background-image: linear-gradient(-45deg, rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1));
                    z-index: 0;
                }

                .caja-dos-texto {
                    width: 50%;
                    height: 100%;
                    margin-left: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: rgb(0, 95, 155);
                            -webkit-text-stroke: 0.2px rgba(255, 255, 255, 1);
                            text-stroke: 0.2px rgba(255, 255, 255, 1);
                            font-size: 62px;
                            text-shadow: 2px 2px 2px rgba(75, 75, 75, 1);
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }

            .nuestros-servicios-caja-tres {
                width: 45%;
                height: 45%;
                position: absolute;
                top: 50%;
                left: 5%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 95, 155,0.5);
                box-shadow: inset 0 0 0 7px rgba(0, 95, 155,0.3);

                &:hover {
                    background-image: linear-gradient(-45deg, rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1));
                    z-index: 0;
                }

                .caja-tres-texto {
                    width: 50%;
                    height: 100%;
                    margin-left: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: rgb(0, 95, 155);
                            -webkit-text-stroke: 0.2px rgba(255, 255, 255, 1);
                            text-stroke: 0.2px rgba(255, 255, 255, 1);
                            font-size: 62px;
                            text-shadow: 2px 2px 2px rgba(75, 75, 75, 1);
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }

            .nuestros-servicios-caja-cuatro {
                width: 45%;
                height: 45%;
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 95, 155,0.5);
                box-shadow: inset 0 0 0 7px rgba(0, 95, 155,0.3);

                &:hover {
                    background-image: linear-gradient(-45deg, rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1));
                    z-index: 0;
                }


                .caja-cuatro-texto {
                    width: 50%;
                    height: 100%;
                    margin-left: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: rgb(0, 95, 155);
                            -webkit-text-stroke: 0.2px rgba(255, 255, 255, 1);
                            text-stroke: 0.2px rgba(255, 255, 255, 1);
                            font-size: 62px;
                            text-shadow: 2px 2px 2px rgba(75, 75, 75, 1);
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }

            .nuestros-servicios-caja-cinco {
                width: 50vh;
                height: 50vh;
                position: absolute;
                top: 20%;
                left: 38%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 95, 155,0.5);
                box-shadow: inset 0 0 0 7px rgba(0, 95, 155,0.3);
                z-index: 1;

                &:hover {
                    background-image: linear-gradient(-45deg, rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1),rgba(25,25,25,0.1),rgba(255,255,255,1));
                    z-index: 0;
                }


                .caja-cinco-texto {
                    width: 90%;
                    height: 100%;
                    margin-left: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: rgb(0, 95, 155);
                            -webkit-text-stroke: 0.2px rgba(255, 255, 255, 1);
                            text-stroke: 0.2px rgba(255, 255, 255, 1);
                            font-size: 62px;
                            text-shadow: 2px 2px 2px rgba(75, 75, 75, 1);
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }


            }

        }

    }
}