

<div class="tienda-online-cards">
    <div class="tienda-online-card">
        <div class="tienda-online-card-imagen">
           <!--<img class="card-imagen-caja" [src]="productosRecibidos.imagen" alt="imagen">-->
        </div>
        <div class="tienda-online-card-nombre">
            <h3>{{productosRecibidos ? productosRecibidos.nombreProducto: ''}}</h3>
        </div>
        <div class="tienda-online-card-tamano">
            <p>{{productosRecibidos ? productosRecibidos.tamanoProducto: ''}}</p>
        </div>
        <div class="tienda-online-card-color">
            <p>{{productosRecibidos ? productosRecibidos.colorProducto: ''}}</p>
        </div>
        <div class="tienda-online-card-precio">
            <p>{{productosRecibidos ? productosRecibidos.precioProducto: ''}}</p>
        </div>
        <div class="tienda-online-card-cantidad">
            <p>sss</p>
        </div>
    </div>
</div>