<app-barra-navegacion></app-barra-navegacion>

<div class="container-fluid contenedor-tienda-online-impresoras-filamento-titulo">
    <div class="row fila-tienda-online-impresoras-filamento-titulo">
        <div
            class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-tienda-online-impresoras-filamento-titulo">
            <h2>Impresoras de filamento</h2>
        </div>
    </div>
</div>

<div class="container-fluid contenedor-tienda-online-impresoras-filamento-cards">
    <div class="row fila-tienda-online-impresoras-filamento-cards">
        <div class="col-12 columna-tienda-online-impresoras-filamento-cards">
            <!--<app-card-tienda-online *ngFor="let productos of arregloProductosImpresorasFilamento"
                [productosRecibidos]=" productos">
            </app-card-tienda-online>-->
        </div>
    </div>
</div>

<app-footer></app-footer>