<app-barra-navegacion></app-barra-navegacion>

<div class="containder-fluid contenedor-nuestros-servicios">
    <div class="row fila-nuestros-servicios">

        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 columna-servicios">
            <div id="fragmento1" class="servicios-caja-filamento">
                <div class="caja-titulo">
                    <h2>Impresión con filamento</h2>
                </div>
                <div class="caja-descripcion">
                    <p>La impresión 3D con filamento es un proceso que consiste en crear objetos físicos a partir de un modelo digital tridimensional (3D) utilizando una impresora 3D, que deposita capas sucesivas de material fundido para crear dichos objetos tridimensionales.
                        El material, comúnmente llamado filamento, se calienta y extruye a través de una boquilla en una plataforma de impresión, donde se enfría y solidifica en la forma deseada. Existen varios tipos de filamentos, cada uno con propiedades únicas:
                    </p>
                    <br>
                    <ul>
                        <li>PLA (ácido poliláctico): fácil de usar y biodegradable.</li>
                        <li>ABS (acrilonitrilo butadieno estireno): resistente y duradero, ideal para piezas funcionales.</li>
                        <li>PETG (tereftalato de polietileno): flexible, con buena resistencia al impacto y humedad.</li>
                    </ul>
                </div>
                <div class="caja-imagen">
                    <div class="imagen-filamento"></div>
                </div>
            </div>
            <div id="fragmento2" class="servicios-caja-resina">
                <div class="caja-titulo">
                    <h2>Impresión con resina</h2>
                </div>
                <div class="caja-descripcion">
                    <p>La impresión 3D con resina utiliza una tecnología llamada fotopolimerización, en la que una impresora emplea luz ultravioleta (UV) para solidificar capas de resina líquida y crear objetos tridimensionales con gran detalle. La impresora proyecta luz en áreas específicas, solidificando cada capa de resina hasta completar el modelo.
                    </p>
                    <br>
                    <p>Existen diferentes tipos de resinas, cada una con características específicas:                        
                    </p>
                    <br>
                    <ul>
                        <li>Resina estándar: económica y con buenos detalles, ideal para prototipos visuales.</li>
                        <li>Resina flexible: proporciona elasticidad, adecuada para piezas que requieren cierta flexión.</li>
                        <li>Resina resistente: duradera y de alta precisión, utilizada para piezas funcionales.</li>
                    </ul>
                </div>
                <div class="caja-imagen">
                    <div class="imagen-resina"></div>
                </div>
            </div>
            <div id="fragmento3" class="servicios-caja-escaneo">
                <div class="caja-titulo">
                    <h2>Escaneo 3D</h2>
                </div>
                <div class="caja-descripcion">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
                    </p>
                </div>
                <div class="caja-imagen">
                    <div class="imagen-escaneo"></div>
                </div>
            </div>
            <div id="fragmento4" class="servicios-caja-postprocesado">
                <div class="caja-titulo">
                    <h2>Postprocesado</h2>
                </div>
                <div class="caja-descripcion">
                    <p>Es el conjunto de técnicas y tratamientos aplicados a piezas impresas para mejorar su apariencia, funcionalidad y durabilidad. Este proceso puede incluir varias etapas, como el lijado, pulido, pintura, y tratamientos de superficie (como barnizado o recubrimientos protectores). 
                    </p>
                    <br>
                    <p>
                         En impresiones con resina, el postprocesado suele involucrar limpieza en alcohol isopropílico y curado adicional con luz UV para fortalecer el material. Estas técnicas ayudan a eliminar imperfecciones, mejorar los detalles y, en algunos casos, proporcionar propiedades adicionales, como resistencia a impactos o efectos visuales específicos. 
                    </p>
                </div>
                <div class="caja-imagen">
                    <div class="imagen-postprocesado"></div>
                </div>
            </div>
            <div id="fragmento5" class="servicios-caja-diseno-3d">
                <div class="caja-titulo">
                    <h2>Diseño 3D</h2>
                </div>
                <div class="caja-descripcion">
                    <p>El servicio de diseño 3D es el proceso de crear modelos tridimensionales digitales, utilizados para visualización, fabricación o impresión 3D. Mediante software especializado, como Blender, Fusion 360 o Tinkercad, los diseñadores 3D crean representaciones detalladas de objetos, desde componentes industriales hasta personajes y productos personalizados. Este proceso incluye la creación de formas, texturas y estructuras que cumplen con especificaciones exactas y criterios de funcionalidad o estética. En el contexto de impresión 3D, el diseño 3D garantiza que los modelos sean técnicamente precisos y optimizados para su fabricación, ayudando a visualizar y validar ideas antes de la producción y reduciendo errores en los prototipos físicos.                    </p>
                </div>
                <div class="caja-imagen">
                    <div class="imagen-diseno-3d"></div>
                </div>
            </div>
        </div>

    </div>

</div>




<app-footer></app-footer>